.col-sm img{
    height: 100%;
    width: 70%;
}
col .col-mg-8 .items{
    text-align: left;
}

.col-sm button{
    background-color: #A52A2A;
    float: right;
}
.archiveResult{
    background-color:lightgrey;
    text-align: left;
    font-size: 20px;
    border: 10px solid white;
}
