.card {
  width: 30rem;
  height: 28rem;
}

.card-header {
  background-color: #55b776;
}

.special-card {
  /* background-color: rgba(170, 166, 157, 0.71) !important; */
}

img {
  max-width: 20%;
  height: auto;
}
/*
.btn:hover {
  transform: scaleX(1.5);
} */


.progressContainerHome {
      width: 50em;
      margin: 1em auto;
}
.progressbarHome {
    counter-reset: step;
}
.progressbarHome li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbarHome li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbarHome li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbarHome li:first-child:after {
    content: none;
}
.progressbarHome li.active {
    color: green;
}
.progressbarHome li.active:before {
    border-color: #55b776;
}
.progressbarHome li.active + li:after {
    background-color: #55b776;
}

.icon {
  height: 80%;
}
