.resetButton{
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 8px;
}

.deleteAccButton{
    background-color: #A52A2A;
    position: relative;
    margin-bottom: 10px;
    width: 80%;
    margin-top: 8px;
}

.profile{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    border: 10px solid white;
    
}
.resetPassword{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

}

/*main*/
* {
    box-sizing: border-box;
  }
  
  html, body { min-height: 100%; }
  
  .user-button {
    border-radius: 50%;
  }
  
  .blue {
    background-color: #008CBA;
  }
  
  .white-text {
    color: white;
  }
  
  .text-size {
    font-size:4vw;
  }
  
  .option {
    color: white;
    background-color: #008CBA;
    font-size:4vw;
  }
  
  .width {
    width: 30vw;
  }
  
  .align {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }
  
  
    /* code below derived from https://www.designskilz.com/cool-css-buttons/ all credits
    go to original author */
    body{
      text-align:center;
    }
    body:before{
      content:'';
      height:100%;
      display:inline-block;
      vertical-align:middle;
    }
    .resetButton, .deleteAccButton{
      background:#1AAB8A;
      color:#fff;
      border:none;
      position:relative;
      height:60px;
      font-size:1.6em;
      padding:0 2em;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
    }
    .resetButton:hover, .deleteAccButton:hover{
      background:#fff;
      color:#1AAB8A;
    }
    .resetButton:before,.resetButton:after,.deleteAccButton:before,.deleteAccButton:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #1AAB8A;
      transition:400ms ease all;
    }
    .resetButton:after, .deleteAccButton:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    .resetButton:hover:before,.resetButton:hover:after, .deleteAccButton:hover:before,.deleteAccButton:hover:after{
      width:100%;
      transition:800ms ease all;
    }




  .archiveResult{
      font-size: 20px;
      border: 10px solid white;
  }
  
     
    
